* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --backgroun-color-main: #FFFFFF;
    --text-color-main: #0B090A;
    --footer-header-background: #0B090A;
    --text-color-header-footer: #ffffff;
    --menu: #660708;
    --mane-mobile: #A4161A;
    --button1: #B1A7A6;
    --button2: #D3D3D3;
    --button3: #161A1D;
}

header,
main,
footer {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--footer-header-background);
    text-align: center;
    color: var(--text-color-header-footer);
}

main {
    margin: auto;
    padding: 10px;
    color: var(--text-color-main);
    background-color: var(--backgroun-color-main);
}


footer {
    background-color: var(--footer-header-background);
    color: var(--text-color-header-footer);
    text-align: center;
}

section {
    display: block;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
}

.style-title {
    font-size: 2rem;
    font-weight: bolder;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 40px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-weight: 400;
    padding: 10px;
}

h3,
div p {
    padding: 5px;
    text-align: initial;
}

/*
.logo {
    vertical-align: -0.2em;
    /*height: 1.7em;

}*/

div {
    margin-top: 20px;
    margin-bottom: 10px;
}

div h2 {
    text-align: center;
    font-weight: bolder;
}

img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}