* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --backgroun-color: #12355B;
    --text-color-header: #103053;
    --footer-header-background: #ffffff;
    --menu: #ffffff;
    --text-color-main: #ffffff;
}


.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.highlight {
    color: var(--text-color-header);
    font-weight: 700;

}


header,
footer {
    max-width: 100%;
    margin: auto;
    padding: 1rem;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;

}

html,
body {
    overflow-x: hidden;
}

header {
    display: grid;
    background-color: var(--footer-header-background);
    height: 120px;
    padding: 1rem;
    color: var(--text-color)
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--backgroun-color);
}


footer {
    text-align: left;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background-color: var(--footer-header-background);
    color: var(--text-color-header)
}

section {
    display: block;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
}


h3 {
    padding: 5px;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-left: 5%;
}

.logo {
    /*vertical-align: -0.2em;*/
    height: 1.5rem;
    width: 70px;
    height: 60px;
    margin-bottom: 10px;

}

.company-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-word {
    font-size: 1.5rem;
    font-weight: bold;
}

.second-word {
    font-size: 1rem;
    font-weight: normal;
}


nav {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;

}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #780000;
    color: var(--menu);
    z-index: 15;


}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--menu);
    font-size: large;

}

.navigation a:hover {
    background-color: #9D1717;
    color: white;
    font-weight: 900;

}


.open a {
    display: block;
}

.labelimg {
    text-align: left;
    color: var(--text-color-main);
    font-size: large;
    font-style: italic;
    margin-right: 5px;




}

.style-link {
    color: #ddd;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.style-link:hover {
    color: chartreuse;
    text-decoration-color: chartreuse;



}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;

}

.list section h3 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: #353A3E;

}

.buttons {
    padding: 1rem;
    font-weight: 700;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 0.75rem;
    background-color: white;
    text-align: center;

}

.buttons button {
    padding: .75rem;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/*
section {
    display: block;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
}*/


h1 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 40px;
    font-weight: bolder;
    text-align: left;
    color: var(--text-color-main);
}

h2 {

    display: block;
    padding: 5px;
    font-weight: 400;
    font-size: medium;
    padding: 10px;
    text-align: left;
    color: var(--text-color-header);
    background-color: var(--text-color-main)
}

.home-page-grid {

    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--backgroun-color);
    width: 100%;
    border: none;

}

/*Weather section*/
.current-weather {
    color: white;
    margin-bottom: 15px;

}

.current-weather>p {
    font-size: medium;
    padding: 2px;

}

.weather-forecast {
    color: white;
}

.weather-forecast>p {
    padding: 10px;
    font-size: medium;
}

/*styling spotlights cards*/
.spotlights {
    display: grid;
    grid-template-columns: 1fr;
    border: none;

    font-size: medium;
}

.style-spotlights {
    border: 2px solid #ddd;
    border-radius: 15px;
    color: var(--text-color-header);
    background-color: whitesmoke;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.labelimg-spotlight {
    text-align: left;
    color: var(--text-color-header);
    font-size: large;
    font-style: italic;
    margin-right: 5px;



}

.style-link-spotlight {
    color: #3B3E53;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.style-link-spotlight:hover {
    color: blue;
    text-decoration-color: blue;
}

.bold {
    font-weight: bolder;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #06558A;*/
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #4361ee;
}

.call-to-action {
    z-index: 10;
    position: absolute;
    top: 200px;
    right: 20px;
    background-color: var(--backgroun-color);
    /* padding: 10px;*/
    border: 2px solid #ddd;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 9);

}

.call-to-action>a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 400;

}

/*Join page*/
/*Form section*/
.form1 {
    text-align: initial;
}

.form1 fieldset {
    margin: 2rem 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    max-width: 450px;
}

.form1 legend {
    color: #1e3170;
    padding: .5rem;

}

.form1 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;

}

.form1 input[type="text"],
.form1 input[type="tel"],
.form1 input[type="email"],
.form1 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;

    max-width: 400px;
    appearance: none;
}

.form1 input[type="radio"] {
    margin-right: 8px;

}

.form1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}


.form1 input:required {
    border-bottom: solid 8px red;
}

.form1 select:required:valid,
.form1 input:required:valid {
    border-bottom: solid 8px green;
}

.form1 h3 {
    color: var(--text-color-header);
    font-size: large;
    margin-top: 10px;

}

/*
.thanks-align {
    text-align: initial;
}

footer a {
    color: #1d2020;
}*/

.style-title {
    font-size: 1.5rem;
    font-weight: bolder;

}

body.join-special main {
    background-color: lightgray;
}

.style-btn {
    margin: 20px;
    padding: 10px;
    background-color: var(--backgroun-color);
    color: white;
}

.style-btn:active {
    background-color: #6f200e;
}

/*membership section in join page*/

.style-membership {
    background-color: silver;
    padding: 25px;
    margin-top: 25px;
    max-width: 400px;
    border-radius: 6px;

}

.style-membership p {
    color: var(--text-color-header);
    text-align: center;
    font-size: medium;
}

.form-section h2,
.membership-section h2 {
    width: 50%;
    background-color: lightgray;
    font-size: larger;
    font-weight: bold;
}

/*Dialogs */

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px) contrast(150%) brightness(80%);
}


dialog h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-weight: bolder;
}

dialog p {
    font-size: medium;
    color: #555;
    text-align: left;
    padding-top: 5px;
}

dialog button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

dialog button:hover {
    background-color: #0056b3;
}

/*Animation in membership cards*/

.cards-animated {
    opacity: 0;
    transform: translateY(50px);
    animation: appears 2s ease-out forwards;
}

.card-animat:nth-child(1) {
    animation-delay: 0.2s;
}

.card-animat:nth-child(2) {
    animation-delay: 0.4s;
}

.card-animat:nth-child(3) {
    animation-delay: 0.6s;
}

.card-animat:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes appears {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#results {
    background-color: #ddd;
    padding: 0 1rem;
    border: 1px solid gray;
    border-radius: 6px;
    padding-top: 5px;
}

#results>p {
    padding-top: 5px;
    font-size: large;

}

#places div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: var(--text-color-main);
    border-radius: hidden;
    color: var(--text-color-header);

    display: grid;
    grid-template-areas:
        "name"
        "figure"
        "description"
        "location";

}

#places div h2 {
    margin: 1rem 10px;
    grid-area: name;



}

#places div figure {
    margin: 10px;
    width: 100%;
    grid-area: figure;
}

#places div p {
    margin: 1rem 10px;
    grid-area: description;
    font-size: medium;
    padding-top: 10px;
}

#places div address {
    margin: 1rem 10px;
    grid-area: location;
    font-size: medium;
}


.labelh2 {

    font-size: xx-large;
    font-weight: bolder;

}

.style-visitMsg {
    background-color: #EBC974;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: xx-large;
    color: var(--text-color-header);
}