* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --backgroun-color: #12355B;
    --text-color-header: #103053;
    --footer-header-background: #ffffff;
    --menu: #ffffff;
    --text-color-main: #ffffff;
}


.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.highlight {
    color: var(--text-color-header);
    font-weight: 700;

}


header,
footer {
    max-width: 100%;
    margin: auto;
    padding: 1rem;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}

header {
    display: grid;
    background-color: var(--footer-header-background);
    height: 120px;
    padding: 1rem;
    color: var(--text-color)
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--backgroun-color);
}


footer {
    text-align: left;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background-color: var(--footer-header-background);
    color: var(--text-color-header)
}

section {
    display: block;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
}


h3 {
    padding: 5px;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-left: 5%;
}

.logo {
    /*vertical-align: -0.2em;*/
    height: 1.5rem;
    width: 70px;
    height: 60px;
    margin-bottom: 10px;

}

.company-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-word {
    font-size: 1.5rem;
    font-weight: bold;
}

.second-word {
    font-size: 1rem;
    font-weight: normal;
}


nav {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;

}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #780000;
    color: var(--menu);
    z-index: 15;


}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--menu);
    font-size: large;

}

.navigation a:hover {
    background-color: #9D1717;
    color: white;
    font-weight: 900;

}


.open a {
    display: block;
}

.labelimg {
    text-align: left;
    color: var(--text-color-main);
    font-size: large;
    font-style: italic;
    margin-right: 5px;



}

.style-link {
    color: #ddd;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.style-link:hover {
    color: chartreuse;
    text-decoration-color: chartreuse;



}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;

}

.list section h3 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: #353A3E;

}

.buttons {
    padding: 1rem;
    font-weight: 700;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 0.75rem;
    background-color: white;
    text-align: center;

}

.buttons button {
    padding: .75rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.call-to-action {
    z-index: 10;
    position: absolute;
    top: 200px;
    right: 20px;
    background-color: var(--backgroun-color);
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 9);

}

.call-to-action > a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 400;

}

.call-to-action>a:hover {
    background-color: #06558A;
    color: white;
    font-weight: 900;
}

section {
    display: block;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 40px;
    font-weight: bolder;
    text-align: left;
    color: var(--text-color-main);
}

h2 {

    display: block;
    padding: 5px;
    font-weight: 400;
    font-size: medium;
    padding: 10px;
    text-align: left;
    color: var(--text-color-header);
    background-color: var(--text-color-main)
}

.home-page-grid {

    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--backgroun-color);
    width: 100%;
    border: none;

}

/*Weather section*/
.current-weather {
    color: white;
    margin-bottom: 15px;

}

.current-weather>p {
    font-size: medium;
    padding: 2px;

}

.weather-forecast {
    color: white;
}

.weather-forecast>p {
    padding: 10px;
    font-size: medium;
}

/*styling spotlights cards*/
.spotlights {
    display: grid;
    grid-template-columns: 1fr;
    border: none;

    font-size: medium;
}

.style-spotlights {
    border: 2px solid #ddd;
    border-radius: 15px;
    color: var(--text-color-header);
    background-color: whitesmoke;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.labelimg-spotlight {
    text-align: left;
    color: var(--text-color-header);
    font-size: large;
    font-style: italic;
    margin-right: 5px;



}

.style-link-spotlight {
    color: #415a77;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.style-link-spotlight:hover {
    color: blue;
    text-decoration-color: blue;
}

.bold {
    font-weight: bolder;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #06558A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #4361ee;
}